.{
	background-color: #000;  
}

.navbar-default {
    background-color: #2e4052;
    border-color: #d3e0e9;
}

.logo{  
  height: 50px;
}

.default_logo{
  content:url("../img/peretch.svg");
}

body{
	background-color: #e6e6e6;
}

.panel{
	background-color: #eee;
}

.panel-body{
  margin-top: 0px;
  padding-top: 8px;
}

.panel-default>.panel-heading {
    color: #fff;    
    background-color: #405c3f;
    border-color: #d3e0e9;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #396638;
    border-color: #ccc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #207D1D;
    border-color: #1C641A;
}

.btn-primary:active {
    color: #fff;
    background-color: #207D1D;
    border-color: #1C641A;
}

a {
    color: #1C641A;
    text-decoration: none;
}

.btn-link{
	color: #1C641A;
}

.pagination>li>a, .pagination>li>span {    
    color: #2C3949    
}
.pagination>li>a:hover{
    color: #2C3949;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #2C3949;    
}
pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {    
    color: #fff;
    background-color: #2C3949;
    border-color: #2C3949;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 22px;
    font-size: 21px;
    line-height: inherit;
    color: #405c3f;
    border-bottom: 1px solid #e5e5e5;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

.th-b{
  background-color: #27402b;
  color: #fff;
}